@model IEnumerable<RestauranteWeb.Models.PedidoitemcardapioViewModel>

<p>
    <a asp-action="Create" class="btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdItemCardapio)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IdPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdItemCardapio)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IdPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { IdItemCardapio = item.IdItemCardapio, IdPedido = item.IdPedido }, new { @class = "btn-primary" })
                    @Html.ActionLink("Details", "Details", new { IdItemCardapio = item.IdItemCardapio, IdPedido = item.IdPedido }, new { @class = "btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { IdItemCardapio = item.IdItemCardapio, IdPedido = item.IdPedido }, new { @class = "btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
